<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class='container-fluid'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Writefully", root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class='nav navbar-nav'>
        <%= activeable_link_to :li, "Dashboard",    root_path, icon: 'home' %>
        <%= activeable_link_to :li, "New Site", new_site_path, icon: 'plus' %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><p class='navbar-text'><%= current_wf_authorship %></p></li>
        <li><%= link_to "Sign Out", signout_path %></li>
      </ul>
    </div>
  </div>
</nav>