<h1><%= @post.title %></h1>


<%= simple_format @post.body %>

<div id='comments'>
  <%= render @post.comments %>
</div>

<h5>Add a Comment</h5>
<%= form_for [@post, @post.comments.build], remote: true do |f| %>
  <div class='form-group'>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <%= f.submit "Create", class: 'btn btn-default' %>
<% end %>