<%= form_for @authorship, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <%= f.fields_for :data do |d| %>
    <%= field_set_tag "Github" do %>
    <div class='form-group'>
      <div class='col-sm-12'>
        <%= d.text_field :user_name, class: 'form-control', placeholder: 'Username' %>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-12'>
        <%= d.text_field :email, class: 'form-control', placeholder: 'Primary Github Email' %>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-12'>
        <%= d.text_field :api_token, class: 'form-control', placeholder: 'Api Token' %>
      </div>
    </div>
    <p class='bg-primary setup-help'>Writefully needs your authentication token to setup repositories and webhooks in your github account.</p>
    <% end %>
  <% end %>
  <%= f.submit "Next", class: 'btn btn-success btn-block' %>
<% end %>