<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title).present? ? (content_for(:title) + " - Writefully Admin") : "Writefully Admin" %></title>
  <%= stylesheet_link_tag    "writefully/writefully", media: "all" %>
  <%= javascript_include_tag "writefully/writefully" %>
  <%= csrf_meta_tags %>
</head>
<body class='writefully <%= controller_name %> <%= action_name %>'>
<%= render 'navigation' %>
<div class='container'>
  <%= yield %>
</div>

</body>
</html>
